body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    transition: background-color 0.5s ease;
    font-size: 16px; 
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

header, main {
    padding: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #333;
    animation: rotate 3600s linear infinite;
}

p {
    color: #666;
}

footer {
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Menu styles */
#menu {
    list-style-type: none;
    padding: 0;
}

#menu > li {
    display: inline-block;
    position: relative;
}

#menu li a {
    display: block;
    padding: 0.625rem 1.25rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

#menu li a:hover {
    color: #666;
}

#menu .dropdown {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    background-color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

#menu .dropdown li {
    width: 100%;
}

#menu .dropdown li a {
    color: #333;
}

#menu li:hover .dropdown {
    display: block;
    opacity: 1;
}

/* Form styles */
form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.25rem;
    align-items: center;
}

label {
    justify-self: end;
}

/* Media queries */
@media (max-width: 37.5rem) { 
    body {
        background-color: #333;
        color: #fff;
    }
}
